* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    height: 100%;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#首页 {
    color: rgb(32, 60, 198);
}

/* 导航栏设计 */
.list1 {
    display: flex;
}

.list1 a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgba(191, 183, 183, 0.95);
    right: 10px;
}

/* 鼠标浮动 */
.list1 a:hover {
    background-color: gainsboro;
    display: inline;
}

header li {
    display: inline;
    padding: 10px;
    position: relative;
}

header .list1 {
    position: absolute;
    top: 20px;
    right: 10px;
}

/* jotanglm位置大小设计 */
header h1 {
    position: absolute;
    top: 15px;
    left: 30px;
    cursor: default;
}

header {
    background-color: rgba(191, 183, 183, 0.95);
    top: 0px;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

body {
    display: flex;
    align-items: center;
}

.操作面板 {
    position: absolute;
    top: 130px;
    background-color: rgba(210, 208, 208, 0.95);
    left: 50%;
    margin-left: -325px;
    /*实现水平居中*/
    display: flex;
    flex-direction: column;
    /*flexbox方向为栏(竖向)*/
    flex-grow: 1;
    width: 550px;
    height: 750px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 1, 0.4);
    /*盒子阴影*/
    justify-content: center;
}

.colorchange {
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 3px 20px;
}


#colorchooser {
    padding: 0 6px 0 10px;
    border: hidden;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}

#apply {
    height: 100%;
    border: hidden;
    margin-left: 3px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 15%;
    cursor: pointer;
}

#apply:hover {
    background-color: rgb(192, 192, 189, 0.8);
}



.输入 {
    position: relative;
    bottom: -90%;
    width: 100%;
    height: 30px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    /*超出部分隐藏*/
}

.文字栏 {
    padding: 5px 15px;
    flex-grow: 1;
    outline: none;
    border: none;
    background-color: rgb(190, 189, 189);
}

.按钮 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 18px;
    padding: 5px 5px;
    border: none;
    outline: none;
    /*隐藏点击时的边框*/
    background-color: rgb(131, 242, 242);
}

.按钮 {
    color: #000;
    cursor: pointer;
}

.按钮:hover {
    color: cadetblue;
}

.pzx {
    margin-top: -5%;
    height: 88%;
    width: 100%;
    border-radius: 15px;
    overflow: auto;
}

.chat {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 20px;
    border-radius: 16px;
    overflow: hidden;
}

.chat li {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    font-size: 20px;
    border-bottom: 1px solid rgb(204, 206, 204);
}

.user {
    color: antiquewhite;
}

.bot {
    color: bisque;
}

.pxh {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(214, 213, 213);
    height: 810px;
    width: 20px;
    position: absolute;
    top: 130px;
    color: rgb(214, 213, 213);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 1, 0.4);
}

.pxh .会话 li button {
    display: none;
}

.pxh:hover {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 213, 213);
    color: #000;
    height: 810px;
    width: 200px;
    position: absolute;
    top: 130px;
    z-index: 9999;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 1, 0.4);
}

.pxh:hover .meeting {
    font-size: 14px;
    margin-left: 10px;
    color: #000;
    padding: 20px 20px 0 20px;
}

.pxh:hover .add {
    color: rgb(79, 79, 79);
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    padding: 20px 0;
}

.pxh:hover .add:hover {
    color: #000;
}

.pxh:hover .会话 {
    width: 70%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px 10px;
}

.pxh:hover .会话 li {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid;
    border-radius: 30px;
    background-color: rgb(192, 193, 193);
    box-shadow: 0 2px 5px rgba(0, 0, 1, 0.4);
    align-items: center;
    overflow: hidden;
}

.pxh:hover .会话 li:hover {
    background-color: aliceblue;
}

.pxh:hover .会话 button {
    display: block;
    position: absolute;
    margin-left: 59px;
    border: hidden;
    background-color: antiquewhite;
}

.pxh:hover .news {
    margin-left: 15px;
}

.pxh .new {
    display: none;
}

.pxh:hover .new {
    display: inline;
    width: 70%;
    border: 1px;
    height: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2px 5px;
    outline: none
}

.pxh .newsbutton {
    display: none;
}

.pxh:hover .newsbutton {
    display: inline;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;
    width: 10%;
    border: 1px;
}

.delete-button {
    cursor: pointer;
}

.pxh:hover .now-session {
    color: red;
}